page-hl-split {
    ion-card{
        height: 50%; 
    }
    .headerText{
        font-size: 4em;
    }

    .contentText{
        font-size: 2em;
    }

    .secondaryContent{
        margin-top: 40px;
    }

    ion-icon{
        font-size: 35px;
    }
}
