page-home {
    
    #betDisplay{
        height: 90px;
        background-color: black;
        border-radius: 10px;
        position: relative;
        overflow: hidden;
    }
    .bottomDisplay{  
        height: 70px;
        background-color: black;
        border-radius: 10px;
        position: relative;
        overflow: hidden;
    }
    #old-results{
        height: 70px;
    }
    .button{
        height: 4.8em !important;
    }

    .topButtons{
        height: 3em !important;
    }
    .tenButtons{
        height: 3em !important;
        margin-top: 0px !important;
        margin-bottom: 0px !important;
        margin-left: 3px !important;
    }
    #firstTenButton{
        height: 3em !important;
        margin-top: 0px !important;
        margin-bottom: 0px !important;
        margin-left: 8px !important;
    }
    #potBetButton{
        margin-top: 0px !important;
    }
    .zeroRow{
        margin-bottom: 0px !important;
    }
    #primaryNumber{ 
        color: white;
        position: absolute;
        right: 10px;
        bottom: 10px;
        right: 10px;
        bottom: 10px;
        font-size: 40px !important;
        margin: 0px;
    }

    .displayText{
        margin-top: -2px;
        color: white;
    }
    
    #secondaryNumber, #operation{
        color: white;
        display: inline-block;
        font-size: 20px !important;
        margin: 0px;
    }
    #secondLine{
        position: absolute;
        right: 10px;
        top: 10px;
    }
}
