<!--<ion-header>
  <ion-navbar>
  </ion-navbar>
</ion-header>-->


<ion-content padding> 

  <ion-grid>
    <ion-row nowrap>
      <button ion-button col-4 class="topButtons" (click)="setBlinds()">Blinds</button>
      <button ion-button col-4 class="topButtons" (click)="changeHandStatus()">{{handStatus}}</button>
      <button ion-button col-4 class="topButtons" (click)="newHand()">New Hand</button>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row nowrap>
      <button ion-button col-4 (click)="call()">Call</button>
      <span col-4 id="betDisplay">
          <p text-center id="topDisplayText">bet</p>
          <p id="primaryNumber">{{primaryNumber}}</p>
      </span>
      <button ion-button col-4 (click)="potBet()" >Pot Bet</button>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row nowrap>
      <button ion-button col-4 color="light" round *ngFor="let n of row1" (click)="register(n)">{{n}}</button>
    </ion-row> 
    <ion-row nowrap>
      <button ion-button col-4 color="light" round *ngFor="let n of row2" (click)="register(n)">{{n}}</button>
    </ion-row>
    <ion-row nowrap>
      <button ion-button col-4 color="light" round *ngFor="let n of row3" (click)="register(n)">{{n}}</button>
    </ion-row>
    <ion-row nowrap>
        <button ion-button col-3 class="zeroRow" id="cancel" (click)="clear()"><ion-icon name="close"></ion-icon></button>
        <button ion-button col-3 class="zeroRow" color="light" (click)="register('0')" >0</button>
        <button ion-button col-3 class="zeroRow" color="light" (click)="addDecimal()" >.</button>
        <button ion-button col-3 class="zeroRow" id="add" (click)="solve(true)"><ion-icon name="add"></ion-icon></button>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-row nowrap>
      <span col-6 class="bottomDisplay" (click)="changeCurrentBet()">
        <p text-center class="bottomDisplayText">current bet</p>
        <p id="primaryNumber">${{currentBet}}</p>
        <p text-center class="secondaryDisplayText">tap to change</p>
      </span>
      <span col-6 class="bottomDisplay" (click)="isQualifyingLow()">
        <p text-center class="bottomDisplayText">in the pot</p>
        <p id="primaryNumber">${{pot}}</p>
        <p text-center class="secondaryDisplayText">tap to split</p>
      </span>
    </ion-row>
  </ion-grid>
</ion-content>
