<!-- Player Tracker Section -->
<ion-split-pane>
  <ion-content class="playerTracker">
    <ion-grid class="trackerGrid">
      <ion-row>
        <button ion-button text-wrap col-12 (click)="editPlayer('player1')" [class.inactive]="player1.status === 'inactive'" [class.actionOn]="currentAction === player1"  [class.dealer]="currentDealer === player1" id="trackerTopButton"><ul><li>{{player1.name}}</li> <li>{{player1.bet}}</li></ul></button>
      </ion-row>
      <ion-row>
        <button ion-button text-wrap col-12 (click)="editPlayer('player2')" [class.inactive]="player2.status === 'inactive'" [class.actionOn]="currentAction === player2" [class.dealer]="currentDealer === player2" class="trackerButtons"><ul><li>{{player2.name}}</li> <li>{{player2.bet}}</li></ul></button>
      </ion-row>
      <ion-row>
        <button ion-button text-wrap col-12 (click)="editPlayer('player3')" [class.inactive]="player3.status === 'inactive'" [class.actionOn]="currentAction === player3" [class.dealer]="currentDealer === player3" class="trackerButtons"><ul><li>{{player3.name}}</li> <li>{{player3.bet}}</li></ul></button>
      </ion-row>
      <ion-row>
        <button ion-button text-wrap col-12 (click)="editPlayer('player4')" [class.inactive]="player4.status === 'inactive'" [class.actionOn]="currentAction === player4" [class.dealer]="currentDealer === player4" class="trackerButtons"><ul><li>{{player4.name}}</li> <li>{{player4.bet}}</li></ul></button>
      </ion-row>
      <ion-row>
        <button ion-button text-wrap col-12 (click)="editPlayer('player5')" [class.inactive]="player5.status === 'inactive'" [class.actionOn]="currentAction === player5" [class.dealer]="currentDealer === player5" class="trackerButtons"><ul><li>{{player5.name}}</li> <li>{{player5.bet}}</li></ul></button>
      </ion-row>
      <ion-row>
        <button ion-button text-wrap col-12 (click)="editPlayer('player6')" [class.inactive]="player6.status === 'inactive'" [class.actionOn]="currentAction === player6" [class.dealer]="currentDealer === player6" class="trackerButtons"><ul><li>{{player6.name}}</li> <li>{{player6.bet}}</li></ul></button>
      </ion-row>
      <ion-row>
        <button ion-button text-wrap col-12 (click)="editPlayer('player7')" [class.inactive]="player7.status === 'inactive'" [class.actionOn]="currentAction === player7" [class.dealer]="currentDealer === player7" class="trackerButtons"><ul><li>{{player7.name}}</li> <li>{{player7.bet}}</li></ul></button>
      </ion-row>
      <ion-row>
        <button ion-button text-wrap col-12 (click)="editPlayer('player8')" [class.inactive]="player8.status === 'inactive'" [class.actionOn]="currentAction === player8" [class.dealer]="currentDealer === player8" class="trackerButtons"><ul><li>{{player8.name}}</li> <li>{{player8.bet}}</li></ul></button>
      </ion-row>
      <ion-row>
        <button ion-button text-wrap col-12 (click)="editPlayer('player9')" [class.inactive]="player9.status === 'inactive'" [class.actionOn]="currentAction === player9" [class.dealer]="currentDealer === player9" class="trackerButtons"><ul><li>{{player9.name}}</li> <li>{{player9.bet}}</li></ul></button>
      </ion-row>
      <ion-row>
        <button ion-button text-wrap col-12 (click)="editPlayer('player10')" [class.inactive]="player10.status === 'inactive'" [class.actionOn]="currentAction === player10" [class.dealer]="currentDealer === player10" class="trackerButtons"><ul><li>{{player10.name}}</li> <li>{{player10.bet}}</li></ul></button>
      </ion-row>
    </ion-grid>
  </ion-content>

  <!-- Main Section -->

  <ion-content class="mainContent" padding-top padding-right padding-bottom main > 

    <ion-grid>
      <ion-row nowrap>
        <button ion-button col-3 class="topButtons" (click)="setBlinds()">Blinds</button>
        <span col-6 id="betDisplay">
            <p text-center id="topDisplayText">bet</p>
            <p id="primaryNumber">{{primaryNumber}}</p>
        </span>
        <button ion-button col-3 class="topButtons" (click)="newHand()" text-wrap>New Hand</button>
      </ion-row>
    </ion-grid>
    <div id="handStage">
      <p id="handStageText" (click)="checkArrays()">{{currentHandStage}}</p>
    </div>
    <ion-grid>
      <ion-row nowrap class="callRow">
        <button ion-button col-4 class="middleButtons" (click)="call()">{{smallestAction}}</button>
        <button ion-button col-4 class="middleButtons" (click)="fold()">Fold</button>
        <button ion-button col-4 class="middleButtons" (click)="potBet()" >Pot Bet</button>
      </ion-row>
    </ion-grid>

    <ion-grid>
      <ion-row nowrap>
        <button ion-button col-4 class="middleButtons" color="light" round *ngFor="let n of row1" (click)="register(n)">{{n}}</button>
      </ion-row> 
      <ion-row nowrap>
        <button ion-button col-4 class="middleButtons" color="light" round *ngFor="let n of row2" (click)="register(n)">{{n}}</button>
      </ion-row>
      <ion-row nowrap>
        <button ion-button col-4 class="middleButtons" color="light" round *ngFor="let n of row3" (click)="register(n)">{{n}}</button>
      </ion-row>
      <ion-row nowrap class="zeroRow">
          <button ion-button col-3 class="zeroRowButtons" id="cancel" (click)="clear()"><ion-icon name="close"></ion-icon></button>
          <button ion-button col-3 class="zeroRowButtons" color="light" (click)="register('0')" >0</button>
          <button ion-button col-3 class="zeroRowButtons" color="light" (click)="addDecimal()" >.</button>
          <button ion-button col-3 class="zeroRowButtons" id="add" (click)="solve(true)"><ion-icon name="add"></ion-icon></button>
      </ion-row>
    </ion-grid>
    <ion-grid>
      <ion-row nowrap>
        <span col-6 class="bottomDisplay" (click)="nextBettingRound()">
          <p text-center class="bottomDisplayText">current bet</p>
          <p id="primaryNumber">${{currentBet}}</p>
          <p text-center class="secondaryDisplayText">tap to change</p>
        </span>
        <span col-6 class="bottomDisplay" (click)="isQualifyingLow(smallBlind, pot)">
          <p text-center class="bottomDisplayText">in the pot</p>
          <p id="primaryNumber">${{pot}}</p>
          <p text-center class="secondaryDisplayText">tap to split</p>
        </span>
      </ion-row>
    </ion-grid>
  </ion-content>
</ion-split-pane>
