<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Splits</ion-title>
    <ion-buttons end>
      <button ion-button (click)="toHome()"><ion-icon name="home"></ion-icon></button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header text-center class="headerText">
      Split Pot {{splitFactor}} Ways
    </ion-card-header>
    <ion-card-content text-center class="contentText">
      Each Player Gets ${{splitAmount}} 
      <span *ngIf="extraChips == 1">There is ({{extraChips}}) ${{denomination}} chip remaining</span>
      <span *ngIf="extraChips > 1">There are ({{extraChips}}) ${{denomination}} chips remaining</span>
      <p *ngIf="extraChips == 1" class="secondaryContent">generally the player closest to the button gets the extra chip</p>
      <p *ngIf="extraChips > 1" class="secondaryContent">generally the players closest to the button get the extra chips</p>
    </ion-card-content>
  </ion-card>
</ion-content>
